:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 56px 8%;
}

.link-box {
  width: 100%;
  margin: 0 1rem;
}

.suggestion-result {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 36px 18px;
}

.actions-container {
  display: flex;
  padding: 0 18px;
}

.spinner-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}
